@(title: String, user: String)(cart: _root_.cz.cvut.fel.si.schmipe4.persistence.model.Cart)

@main(title, user) {

    @if(cart != null) {
        <div class="panel panel-default">
            <div class="panel-heading">Items</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Sum Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @for(cartItem <- cart.getItems) {
                    <tr>
                        <td>@cartItem.getItem.getName</td>
                        <td>@cartItem.getItem.getDescription</td>
                        @helper.form(action = routes.CartController.update(cartItem.getItem.getId)) {
                            <td>
                                <input type="number" id="quantity" name="quantity" placeholder="@cartItem.getQuantity">
                            </td>

                            <td>@(cartItem.getItem.getPrice * cartItem.getQuantity)</td>
                            <td><button type="submit">Update</button></td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

}
