@(title: String, user: String)(itemSet: Set[_root_.cz.cvut.fel.si.schmipe4.persistence.model.Item])(categorySet: Set[_root_.cz.cvut.fel.si.schmipe4.persistence.model.Category])

@main(title, user) {

    <center>

        <form action="@routes.ItemController.doAddCategoryToItem()" method="post">

            <p>
                <select name="itemId" id="itemId">
                @for(item <- itemSet) {
                    <option value="@item.getId">@item.getName</option>
                }
                </select>
            </p>

            <p>
                <select name="categoryId" id="categoryId">
                @for(category <- categorySet) {
                    <option value="@category.getId">@category.getName</option>
                }
                </select>
            </p>

            <p>
                <button type="submit">OK</button>
            </p>

        </form>

    </center>

}
